<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>method</key>
  <string>development</string> <!-- 可选：app-store, ad-hoc, enterprise, development -->
  <key>teamID</key>
  <string>TEAM_ID_PLACEHOLDER</string> <!-- 占位符，由 GitHub Actions 替换 -->
  <key>signingStyle</key>
  <string>manual</string>
  <key>provisioningProfiles</key>
  <dict>
    <key>BUNDLE_ID_PLACEHOLDER</key> <!-- 占位符，由 GitHub Actions 替换 -->
    <string>enexerProfile</string> <!-- 替换为实际的 Profile 名称 -->
  </dict>
  <key>compileBitcode</key>
  <false/>
  <key>thinning</key>
  <string>&lt;none&gt;</string>
  <key>uploadBitcode</key>
  <false/>
  <key>uploadSymbols</key>
  <true/>
</dict>
</plist>